$grey-border:#F2F3F2;
$grey-01: #E6E8E6;
$grey: #FAFAFA;
$grey-02:#CDD0CD;
$grey-03: #9BA09B;
$parrafos: #687168;
$titles: #041204;
$green-font: #394533;
$white: #ffffff;
$green-button:#409119;
$green-dark: #103200;