@import "color";
$ancho:100%;

/*------tarjeta-------*/

.card {
    transition: box-shadow .3s;
    transition: transform .2s;
    border-radius: 6px;
    border: 1px solid #E6E8E6;
    background: #ffffff;
}

.card:hover {
    box-shadow: 0 0 18px #F2F3F2;
    transform: scale(1.03);
}


/*------filtro-------*/

.bg-border-menu {
    padding: $ancho * 0.01;
    border: 1px solid $grey-01;
}


/* Pagina Detalle */

.content-d {
    padding-bottom: $ancho * 0.05;
}

.bg-car {
    background-color: $grey-border;
    margin: 0;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}


/*pagina agenda*/

.p-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


/*Recordatorio*/

.space-br {
    padding-bottom: 30%;
}

.carac-bg {
    align-items: center;
    padding-top: $ancho * 0.05;
    padding-bottom: $ancho * 0.05;
}

.sp-bt {
    padding: $ancho * 0.02;
}

.d-flex {
    display: flex!important;
    align-items: center;
}


/*Inventario*/

.space-inv {
    padding-bottom: 12%;
}


/*perfil*/

.divider-l {
    border-left: 1px solid $grey-01;
}

.space-perfil {
    padding-bottom: 3%;
}


/* Escanear page*/

.pp-es {
    width: $ancho * 0.6;
}

.upl {
    display: flex;
    width: $ancho / 2;
    height: 150px;
    background-color: $white;
    border: 1px solid $grey-01;
    padding: $ancho * 0.02;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.cont-es {
    padding-top: $ancho * 0.02;
    padding-bottom: $ancho * 0.02;
}

.space-sc {
    padding-bottom: 3%;
}


/*------footer-----*/

footer {
    border: 1px solid $grey-01;
    padding-top: $ancho * 0.02;
    margin: 0;
    padding-bottom: $ancho * 0.02;
    background-color: $grey-border;
}


/*---- responsive para menu ----*/

@media screen and (min-width: 320px) and (max-width: 1100px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        margin-left: 0px;
    }
}


/*contact-register-ingresa-contraseÃ±a*/

.bg-ric {
    border: 1px solid $grey-01;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: $grey-border;
    border-radius: 6px;
}